html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 0.5rem 1rem;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns:
    fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%)
    auto;
  grid-template-rows: auto auto; */
}
.btn-panel {
  grid-row: 1;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: none;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* 
.panel {
  grid-row: 2;
  grid-column: 1/-1;
  width: 100%;
} */

/* Artist Cards */
/* 
.artist-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  max-height: 10rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
}
.artist-image {
  height: 100%;
} */

.panel {
  padding-top: 1rem;
}

#artists-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.artist-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0;
  max-height: none;
  gap: 5rem;
}

.artist-image {
  grid-column: 2;
  max-height: 15rem;
  justify-self: end;
}

/* Concert Item */

#concerts-panel {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.concert-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.concert-ticket-buy-btn {
  padding: 0.5rem 1rem;
  background-color: #ddd;
  color: #222;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Repertoire */

#repertoire-panel {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.composition-title {
  font-style: italic;
}
